{{!-- Render all models except active one --}}
{{!-- {name,hash,code}--}}

{{#each models}}
<article class="card card-model" data-hash="{{hash}}">
    <div class="card__text">
        {{name}}
        <a>more</a>
    </div>
    <img class="card__image" srcset="../images/shoes/{{code}}@2x.png 2x, ../images/shoes/{{code}}@1x.png 1x" src="../images/shoes/{{code}}@1x.png">
    <img class="card-image--hover" srcset="../images/shoes/{{code}}-hover@2x.png 2x, ../images/shoes/{{code}}-hover@1x.png 1x" src="../images/shoes/{{code}}-hover@1x.png">
    </article>
{{/each}}